html { --cyan: #c5e4e7; --light-gray: #f3f8fb; --dark-green: #00494d; --light-green: #26c2ad; --gray-text: hsl(184, 14%, 56%); --white: hsl(0, 0%, 100%); }

.form-error { color: red; visibility: hidden; }

@media (min-width: 425px) { .form-error { display: inline; margin-left: 3rem; } }

.tips-flexbox { display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px; }

body { font-family: "Space Mono", monospace; background-color: var(--cyan); display: grid; place-content: center; }

button { color: wheat; background-color: #0d686d; border-radius: 10px; padding: .3rem; font-weight: bold; }

h1 { margin-top: 10%; text-align: center; }

form { background-color: var(--white); padding: 1rem; border-radius: 10px; margin: auto; display: flex; flex-direction: column; }

label { color: var(--gray-text); font-weight: bold; }

input { font-size: 24px; cursor: pointer; border: none; }

input[type="radio"] { opacity: 0; width: 0; height: 0; }

.tips-flexbox label { width: 100px; background-color: var(--dark-green); color: var(--white); padding: 5px; border-radius: 5px; text-align: center; cursor: pointer; }

.tips-flexbox label:hover, .tips-flexbox label:focus-within { color: var(--dark-green); background-color: var(--light-green); }

input[type="number"] { width: 90%; margin-bottom: 10px; text-align: right; background-repeat: no-repeat; background-position: 10px center; color: var(--dark-green); background-color: var(--light-gray); font-weight: bold; }

input[type="number"]::placeholder { color: var(--cyan); }

input[type="number"]:hover, input[type="number"]:focus { outline: 2px solid var(--light-green); }

input[type="number"]:nth-child(6) { width: 100px; height: auto; margin-bottom: unset; }

input[type="number"]:nth-child(6)::placeholder { color: gray; width: fit-content; text-align: center; }

#bill { background-image: url("./images/icon-dollar.svg"); }

#people { background-image: url("./images/icon-person.svg"); }

fieldset { margin: 1rem 0; padding: 1rem; border-radius: 10px; background-color: var(--dark-green); border: none; }

fieldset p { width: 100%; display: inline; color: var(--white); }

fieldset span { color: var(--gray-text); }

#tipAmount, #totalAmount { font-size: large; margin-left: 3rem; color: var(--light-green); }

input[type="reset"] { margin-top: 2rem; text-align: center; padding: 0.5rem 1rem; width: 100%; border-radius: 10px; text-transform: uppercase; color: var(--dark-green); background-color: #0d686d; font-weight: bold; outline: none; }

input[type="reset"]:hover, input[type="reset"]:focus { color: var(--dark-green); background-color: var(--light-green); }

@media (min-width: 600px) { form { max-width: 850px; flex-direction: row; }
  fieldset { width: 50%; }
  #tipAmount, #totalAmount { font-size: xx-large; }
  .tip-calculator { width: 50%; } }
