@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(217, 12%, 63%);
  --mediumGray: hsl(216, 12%, 54%);
  --blue: hsl(213, 19%, 18%);
  --darkBlue: hsl(216, 12%, 8%);
}

body {
  max-width: 400px;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
  background-color: black;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: overpass;
}

main {
  visibility: hidden;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--darkBlue);
  color: var(--lightGray);
  .rating-result {
    color: var(--orange);
    border-radius: 1rem;
    background-color: var(--blue);
    padding: 0.5rem;
    width: fit-content;
    margin: 2rem auto;
  }
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  .rating {
    cursor: pointer;
    border: none;
    outline: none;
    width: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--blue);
    color: var(--lightGray);
    &:hover {
      background-color: var(--orange);
      color: var(--white);
    }
    &:focus {
      background-color: var(--lightGray);
      color: var(--white);
    }
  }
}

dialog {
  @extend main;
  text-align: left;
  visibility: visible;
  border: none;
  max-width: 330px;
}
h1,
h2,
h3 {
  color: var(--white);
  font-weight: 700;
}

.attribution {
  color: var(--white);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 72%, 62%);
}

input[type="submit"] {
  background-color: var(--orange);
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  width: 100%;
  &:hover,
  &:focus {
    background-color: var(--white);
    color: var(--orange);
  }
}
.star {
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 50%;
}
