html {
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --DarkBlue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  display: grid;
  place-content: center;
  text-align: center;
}
img:nth-child(1) {
  padding: 4rem 0 2rem 0;
}
h1 {
  font-weight: 300;
  color: var(--Gray);
  padding: 1rem 0;
  span {
    color: initial;
    font-weight: bold;
  }
}
form {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  input {
    width: 50%;
    padding: 0.8rem 0;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
  }
  input[type="email"] {
    border: 1px solid var(--PaleBlue);
    padding-left: 1rem;
    color: var(--Gray);
    
    &:focus:invalid {
      border-color: var(--Red);
      border-width: 2px;
    }
  }
  input[type="submit"] {
    background-color: var(--Blue);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 10px 19px -7px var(--PaleBlue);
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
.error-message {
  position: absolute;
  font-size: x-small;
  font-style: italic;
  color: var(--Red);
  text-align: left;
    visibility: hidden;
  top:50%;
  left: 29%;
}
img:nth-child(1) {
  margin: auto;
}
img:nth-child(5) {
  width: 70%;
  height: auto;
  padding: 1rem;
  margin: auto;
}

footer {
  margin: 2rem 0;
  p {
    font-size: xx-small;
    color: var(--Gray);
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  ion-icon {
    color: var(--Blue);
    padding: 0.3rem;
    border: 1px solid hsla(0, 0%, 59%, 0.2);
    border-radius: 100%;
    &:hover {
      color: white;
      background: var(--Blue);
    }
  }
}

@media (min-width: 1000px) {
  form {
    flex-direction: row;
    justify-content: center;
    input[type="email"] {
      width: 30%;
    }
    input[type="submit"] {
      width: 15%;
      margin-left: 1rem;
    }
  }
  .error-message{
    top: 100%;
  }
  img:nth-child(5) {
    width: 50%;
    margin-top: 2rem;
  }
}
