:root {
  --purple: hsl(259, 100%, 65%);
  --lightRed: #ff5757;
  --offWhite: hsl(0, 0%, 94%);
  --lightGray: hsl(0, 0%, 86%);
  --gray: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);
  --fontFamily: Poppins;
  --regular: 400;
  --bold: 700;
  --bolder: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-inline: auto;
  min-height: 100vh;
  font-family: var(--fontFamily);
  font-weight: var(--regular);
  line-height: 1.5;
  display: grid;
  place-content: center;
  background-color: var(--gray);
}

main {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
}

form {
  padding: 1rem;
  position: relative;
  gap: 1rem;
  color: var(--gray);
  margin-block-end: 0.5rem;
  & div {
    flex-direction: column;
  }
  & label {
    font-size: x-small;
  }
  & input {
    padding: 0.5rem;
    max-width: 100px;
    margin-block: 5px;
    border: solid 1px var(--offWhite);
    border-radius: 5px;
  }
  & button {
    background-color: var(--purple);
    border-radius: 100%;
    border: none;
    padding: 0.5rem;
    position: absolute;
    bottom: -40px;
    right: 50%;
    & img {
      width: 80%;
      margin: auto;
    }
  }
}

form button:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--offBlack);
}
input:is(:hover, :focus) {
  cursor: pointer;
  color: var(--offBlack);
  font-weight: var(--bold);
  border-color: var(--purple);
}

.error {
  color: var(--lightRed);
  font-style: italic;
  font-size: xx-small;
  font-weight: var(--bold);
}

hr {
  margin-block: 1rem;
  border-color: var(--offWhite);
  margin-inline: 1rem;
}

img,
svg,
video,
picture {
  max-width: 100%;
  display: block;
}

p {
  max-inline-size: 75ch;
}

footer {
  & p {
    font-size: small;
    text-align: center;
  }

  & a {
    color: hsl(228, 45%, 44%);
  }
}

.flex {
  display: flex;
}

.result.flex {
  flex-direction: column;
}

.result {
  color: var(--offBlack);
  font-size: xx-large;
  font-weight: var(--bolder);
  font-style: italic;
  .age-number {
    color: var(--purple);
    padding-inline-end: 5px;
  }
}

@media (min-width: 425px) {
  form button {
    right: 0;
  }
}
