html {
  --Violet: hsl(257, 40%, 49%);
  --Magenta: hsl(300, 69%, 71%);
  --titles: Poppins, sans-serif;
  --text: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text);
  font-weight: 400;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--Violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: white;
}
header {
  text-align: initial;
  padding: 2rem;
  img {
    width: 40%;
    height: auto;
  }
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
h1 {
  font-family: var(--titles);
  font-weight: 600;
  max-width: 20ch;
  margin: auto;
  margin-top: 2rem;
}
p {
  padding-top: 10px;
  max-width: 33ch;
  margin: auto;
  line-height: 25px;
}
a {
  text-decoration: none;
  color: white;
}

.register {
  margin: 1rem 0;
  color: var(--Violet);
  background-color: white;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 3px 5px 7px 0px rgba(0, 0, 0, 0.45);
  &:hover {
    background-color: var(--Magenta);
    color: wheat;
  }
}
.column-left {
  img {
    width: 80%;
    height: auto;
  }
}

footer {
  margin-top: 2rem;
  ion-icon {
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    &:hover {
      color: #c91dc9;
      opacity: initial;
      border-color: #c91dc9;
    }
  }
}
@media (min-width: 650px) {
  body {
    background-image: url("./images/bg-desktop.svg");
    max-width: 1600px;
    margin: auto;
  }
  header img {
    width: 20%;
  }
  main {
    gap: 2rem;
    padding: 1rem;
    text-align: initial;
    align-items: center;
    h1,
    p {
      margin: initial;
    }
  }

  .column-left {
    img {
      width: 100%;
    }
  }

  .column-right p {
    max-width: 50ch;
  }
  footer {
    justify-self: end;
    width: 50vw;
  }
}
