:root {
  --font: Roboto, sans-serif;
  --fsize: 16px;
  --mobile: 375px;
  --desktop: 1440px;
  --spacing: 1rem;
  /*  COLORS */
  --tomato: hsl(4, 100%, 67%);
  --DarkGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
  background-color: var(--CharcoalGrey);
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

body {
  min-width: var(--mobile);
  max-width: fit-content;
  padding: var(--spacing);
  margin-inline: auto;
  font-family: var(--font);
  font-size: var(--fsize);
  line-height: 1.5;
  color: var(--CharcoalGrey);
  background-color: var(--White);
  border-radius: var(--spacing);
}

picture {
  grid-area: text;
}

section > * {
  padding: var(--spacing);
}

h1 {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 900;
  color: var(--DarkGrey);
}

img,
svg,
video,
picture {
  max-width: 100%;
  display: block;
}

p {
  max-inline-size: 45ch;
}

ul {
  margin: var(--spacing);
  & li {
    padding: 0.3rem var(--spacing);
    &::marker {
      content: url("./assets/images/icon-list.svg");
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: small;
  font-weight: 900;
  position: relative;
}
:has(input:focus:invalid) label::after {
  position: absolute;
  content: "Valid email required";
  color: var(--tomato);
  top: 0;
  right: 0;
}
input {
  padding: var(--spacing);
  border-radius: 10px;
  margin-block-end: var(--spacing);
  border: 1px solid;
  &:hover {
    cursor: pointer;
  }
}

input[type="email"] {
  color: var(--Grey);
  background-color: var(--White);
  &:hover {
    color: var(--DarkGrey);
  }
  &:focus:invalid {
    background-color: #fee8e6;
    color: #eb8280;
    outline: 1px solid #eb8280;
    border: none;
  }
}

input[type="submit"] {
  color: var(--White);
  background-color: var(--DarkGrey);
  font-weight: 900;

  &:hover {
    background-image: linear-gradient(
      to right,
      rgb(243, 123, 143) 30%,
      var(--tomato)
    );
    box-shadow: 0px 5px 20px 0px var(--tomato);
    border: none;
  }
}

dialog {
  padding: var(--spacing);
  background-color: var(--White);
  color: var(--DarkGrey);
  width: fit-content;
  margin-inline: auto;
  height: 100dvh;
  & > * {
    padding: var(--spacing);
  }
  & h2 {
    font-size: 40px;
    max-inline-size: 15ch;
  }
  &::backdrop {
    background-color: hsl(235, 18%, 26%);
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-areas: "image text";
    align-items: center;
  }

  section {
    padding: var(--spacing);
  }
  dialog {
    height: fit-content;
  }
}
